@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Metrophobic&family=Oswald:wght@700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400&display=swap');

@import "tailwindcss" theme(static);
@source "../../app/**/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  --font-metro: 'Metrophobic', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --font-work: 'Work Sans', sans-serif;

  --color-primary: #282435;
}
